.head {
  margin: 10px;
  font-size: 80px;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-wrap: wrap;
  padding: 10px;
}
.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: lightblue;
  color: brown;
  padding: 15px;
  margin: 10px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid lightskyblue;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(91, 193, 226);
  transition: 0.3s ease-in;
}
