.App {
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  margin: auto;
}

/* //mobile  */
@media screen and (max-width: 480px) {
  .movie {
    flex-direction: column;
    flex: 100%; /*doing in one column a element this is must  */
    width: 50%;
  }

  img {
    height: 80px;
  }
}
